body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: darkblue; */
    font-family: "微软雅黑";
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.item-clear {
    content: ' ';
    display: none;
    clear: both;
}

.kbb-nav {
    
    font-size: 16px;
    font-family: "微软雅黑";
    color: #fff;
    width: 100%;
}

.kbb-nav .kbb-nav-li {
    float: left;
    margin: 10px;
}

/* 头部 start */
.head {
    max-height: 800px;
    /* background-color: rgb(122, 150, 226); */
    /* background: url('../imgs/head-img.png') no-repeat; */
    /* background-size: 100% 100%; */
}

.head .head-logo {
    background-color: rgba(255, 255, 255, 0.36);
}

.head .head-logo .logo-img {
    /* text-align: center; */
    width: 90%;
    margin: 0 auto;
}

.head .head-logo img {
    width: 30px;
    height: 30px;
    margin: 10px;
}
.head-content {
    position: relative;
}

.nav-btn {
    position: absolute;
    top: 0;
    right: 15px;
}




.head-nav {
    text-align: center;
}

.kbb-nav {
    width: auto;
    /* background-color: rgba(255, 255, 255, 0.795); */
    display: inline-block;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #fff;
}

.kbb-nav .kbb-nav-li {
    float: left;
    /* margin可以设置li宽度 */
    margin: 10px 15px;
    cursor: pointer;
}

.nav-active {
    color: rgb(192, 192, 192);
}

kbb-nav::after {
    content: ' ';
    display: block;
    clear: both;
}

/* 头部 end */


/* 尾部 start */
.foot {
    background-color: #034b6c;
    color: #fff;
    padding-top: 20px;
    margin-top: 20px;
}
.foot::before {
    content: ' ';
    display: block;
    clear: both;
}

.foot .row {
    width: 80%;
    margin: 0 auto;
}

.foot-info {
    /* width: 70%; */
    margin: 18px auto;
    font-size: 21px;
    text-align: left;
}

.foot-info .info-detail {
    margin-top: 20px;
    font-size: 21px;
    text-align: left;
}

/* .foot */
.foot .foot-info img {
    width: 100%;
    max-width: 520px;
}

/* 合作商 */
.cooperation li {
    /* 如果增加li则需要改变margin值 */
    margin: 30px 0;
    font-size: 21px;
}

.cooperation li div {
    display: block;
}
.aboutUs-list ul li {
    margin: 30px 0;  
    font-size: 13px; 
}
.aboutUs-list li a:hover {
    color: rgb(139, 173, 236);
}

.QRcode {
    height: 280px;
    text-align: center;
}
.QRcode img {
    width: 100%;
    min-width: 100px;
    margin-top: 50%;
    margin-bottom: 20px;
    max-width: 100px;
    vertical-align: middle;
}
.QRcode {
    white-space: nowrap;
    word-break: keep-all;
}



/* 尾部 end */

@media screen and (max-width: 1200px) {
    .foot-info {
        font-size: 18px;
    }

    .foot-info .info-detail {
        font-size: 1.3vw;
    }

    .cooperation li {
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 992px) {
    .item-clear {
        display: block;
    }
    .foot-info {
        font-size: 20px;
    }

    .foot-info .info-detail {
        font-size: 18px;
    }

    .cooperation li {
        font-size: 18px;

    }
    
    .other-list-item {
        display: none;
    }
    .aboutUs-list ul li {
    margin: 25px 0;     
}
}



@media screen and (max-width: 768px) {

    /* 头部logo */
    .head .head-logo img {
        width: 30px;
        height: 30px;
    }

    /* 头部导航 */
    .kbb-nav {
        position: absolute;
        right: 0;
        width: 145px;
        padding: 0;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.795);
        color: rgb(72, 82, 168);
    }

    .kbb-nav .kbb-nav-li {
        float: none;
    }

    .foot-info {
        width: 100%;
        margin: 18px auto;
        font-size: 5vw;
        text-align: center;
    }

    .cooperation li div {
        display: inline;
    }
    .QRcode img {  
        margin-top: 10px;
    }

}